body {
  background-color:#9ec7d3;
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;

margin:0;
padding:0;
}


.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #000;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}

  .chalCanvas { z-index: 0; }
  .canvas { z-index: 0;}


.btn {
    -moz-box-shadow: 0px 1px 4px 1px #8c9fa4;
    -webkit-box-shadow: 0px 1px 4px 1px #8c9fa4;
    box-shadow: 0px 1px 4px 1px #8c9fa4;
    background-color:#c1dbe3;
    display:inline-block;
    cursor:pointer;
    color:#373737;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    position:relative;
}
.btn:focus {
    outline:0;
}
.btn:hover {
    background-color:#b4cfd6;
}

