
body {
  background-color:#fce694;
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
}

.nav a:link, a:visited {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
 display: block;
  background-color: #ffffff;
  text-transform: uppercase;
 
  font-weight: bold;
  width: 100px;
}

.nav a:hover, a:active {
    background-color: #000000;
}


.nav li {
  display: inline;
 float: left;
}


.container {
    padding: 25px;
    position: fixed;
}


.container .form-login{
	top: 60 px;
    padding: 25px;
    position: fixed;
}

.form-login {
	top: 1000 px;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
