
body {
  background-color:#9ec7d3;
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;


}


ul {
    list-style-type: none;
    margin: 0;
    padding: 13;
    overflow: hidden;
padding-left:0%;

}

li {
    float: left;
	
}



.nav {
padding: 0px;
background-color: #f6fafb;
}

.nav a:link, a:visited {
    display: block;
    width: 150px;
    font-weight: bold;
    color: #000000;
    background-color: #f6fafb;
    text-align: center;
    
padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
	display:inline;

}

.nav a:hover, a:active {
    background-color:  #d3e6eb;
display:inline


}





#loginContainer {



    background-color: #ffffff;
  	
    border-radius: 5px;
    border-color:#d3e5eb;
    border-width: 0px;
    box-shadow:0 1px 0 #cfcfcf;
  

}




.btn-primary {
background-color: #f6fafb;
color: #000000;
display: inline;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:link, .btn-primary:visited, .btn-primary:active, .btn-primary.active {
    display: inline;
	border-width: 1px;
	border-color: #2b545f;
    background-color: #d3e5eb;
    color: #000000;
    
    text-align: center;
   
    text-decoration: none;
	
}




h3 {
font-size: 30px;
font-weight: bold;
}




