
body {
  background-color: #9ec7d3; /*#C7DFC5;*/
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;

margin:0;
padding:0;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 13px;
    overflow: hidden;
padding-left:0%;

}

li {
    float: left;
	
}

.nav {
padding: 0px;
background-color: #f6fafb;
}

.nav a:link, a:visited {
    display: block;
    width: 150px;
	
    font-weight: bold;
    color: #000000;
    background-color: #f6fafb;
    text-align: center;
    
padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
	display:inline;

}

.nav a:hover, a:active {
    background-color: #d3e6eb;
display:inline


}

#divA {
float:right;
position: relative;
overflow: scroll;
overflow-x: hidden;
}

#divD {
float:right;

position: relative;
overflow-x: scroll;
overflow-y: hidden;
}

.container .form-login{

    padding: 25px;
    position: fixed;
}




h3 {
font-size: 30px;
font-weight: bold;
}



.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}


.btn {
    -moz-box-shadow: 0px 1px 4px 1px #8c9fa4;
    -webkit-box-shadow: 0px 1px 4px 1px #8c9fa4;
    box-shadow: 0px 1px 4px 1px #8c9fa4;
    background-color:#c1dbe3;
    display:inline-block;
    cursor:pointer;
    color:#373737;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    position:absolute;
}
.btn:focus {
    outline:0;
}
.btn:hover {
    background-color:#b4cfd6;
}

